@{
    ViewData["Title"] = "SignUp Menu";
}
<h1>@ViewData["Title"]</h1>


<div>
    <form>
        <label for="text">User:</label><br>
        <input type="text" id="User" name="User"><br>
    </form>

    <form>
        <label for="text">Email:</label><br>
        <input type="text" id="Email" name="Emai"><br>
    </form>

    <form>
        <label for="text">Password:</label><br>
        <input type="text" id="Password" name="Password"><br>
    </form>


    <button>SignUp</button>
</div>
