@{
    ViewData["Title"] = "Mails Menu";
    Layout = null;
}
<h1>@ViewData["Title"]</h1>
<div>
    <button asp-controller="User" asp-action="LogIn">Inbox</button>
    <button>Outbox</button>
    <button>New Mail</button>
</div>
